
body {
    margin: 0 auto;
    padding: 0;
    background-color: #e2d4c4;
    font-family: 'Fredoka One', cursive;}

.container {
    max-width: 1400px;
    margin: 0 auto;


}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
body::-webkit-scrollbar
{
    width: 10px;
    /*background-color: #F5F5F5;*/
}
body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff9400;
}