.myInput {
    width: 90%;
    padding: 15px 15px;
    margin: 1vw 0;
    border: coral 1px solid;
    border-radius: 34px ;
    height: 3vh;
    font-size: 24px;
    background-color: inherit;
    color: inherit;
}
